<div class="col-md-12 col-lg-12 col-sm-12" style="color:darkblue; ">
<ol>
  <h4>
		<li ng-repeat="item in found" style="padding-bottom:20px;
      		font-family: Lucida Console, Courier, monospace; font-size:20px;" class="ng-binding ng-scope">
        	item:{{item.found}} <br>
        <button class="btn btn-info;" style="border-radius: 12px;
        background-color:orange; float:right;" ng-click="onRemove({index: $index});">Don't want this one!</button>
        	Code:{{item.found.short_name}}<br>
        	Description:{{item.found.description}}<br>

   		 </li>
  </h4>
</ol>
<!-- ngIf: isEmpty --><p class="alert alert-info ng-scope" ng-if="isEmpty">Nothing found</p><!-- end ngIf: isEmpty -->
</div>